{% if settings.link.href %}
	<a href="https://ferryjulyo.github.io/wedding-invitation-3/wp-content/plugins/elementor/modules/atomic-widgets/elements/atomic-image/{{ settings.link.href | e('full_url') }}" target="{{ settings.link.target }}">
{% endif %}
<img class="{{ settings.classes | join(' ') }}" for attr value in settings.image % if src="https://ferryjulyo.github.io/wedding-invitation-3/wp-content/plugins/elementor/modules/atomic-widgets/elements/atomic-image/{{ value | e('full_url') }}" else | e endif endfor>
{% if settings.link.href %}
	</a>
{% endif %}